<% provide(:title, "About") %>
<h1>About</h1>
<div class="d-flex flex-column align-items-center">
  <div>
    <p>
      「最後に○○したのはいつだっけ？」を振り返るために作ったアプリケーションです。利用にはGoogleアカウントが必要です。<br>
      アプリケーションはGoogleアカウントからメールアドレスを取得・保存しますが、それ以外のアカウント情報は取得しません。
    </p>
  </div>
</div>
