<% provide(:title, "About") %>
<h1>About</h1>
<p>
  「最後に○○したのはいつだっけ？」を振り返るためのアプリケーションです。利用にはGoogleアカウントが必要です。
</p>
<p>
  このアプリケーションには
  <a href="https://railstutorial.jp/">Ruby on Railsチュートリアル</a>
  のコードを一部利用しています。
</p>
