<% provide(:title, "About") %>
<h1>About</h1>
<div class="d-flex flex-column align-items-center">
  <div>
    <p>
      「最後に○○したのはいつだっけ？」を振り返るためのアプリケーションです。利用にはGoogleアカウントが必要です。<br>
      アプリケーションはGoogleアカウントからメールアドレスを取得・保存します。
    </p>
    <p>
      このアプリケーションには
      <a href="https://railstutorial.jp/">Ruby on Railsチュートリアル</a>
      のコードを一部利用しています。
    </p>
  </div>
</div>
