<% provide(:title, "Help") %>
<h1>Help</h1>

<div class="container-fluid">
  <div class="d-flex flex-column align-items-center">
    <p>このアプリでは以下のことができます。
      <ul>
        <li>イベント（したこと）を作成・削除する</li>
        <li>イベントタイトルを編集する</li>
        <li>イベント履歴を作成・削除する</li>
      </ul>
    </p>
  </div>
</div>
