<div class="center jumbotron d-flex flex-column align-items-center">
  <h1>Look back <b>WHAT & WHEN</b> you did</h1>
  <% unless logged_in? %>
    <div class="row">
      <div class="col">
        <p>
          <%= link_to "/auth/google_oauth2", class: "btn btn-primary btn-social btn-google" do %>
            <span class="fa fa-google"> Sign in with Google</span>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
