<% provide(:title, "Delete account") %>
<h1>Delete account</h1>

<div class="d-flex flex-column align-items-center">
  <div>
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    アカウントを削除すると、イベントデータはすべて削除され、復元することはできません。<br>
    また、本アプリがGoogleアカウントから読み取った情報もすべて削除されます。<br>
    よろしければ、ボタンを押してください。
  </div>
  <br>
  <div>
    <%= link_to user_path, method: 'delete', class: "btn btn-danger", data: { confirm: "You sure?" } do %>
      <span class="glyphicon glyphicon-trash"></span> Delete my account
    <% end %>
  </div>
</div>
