<div class="col-md-8">
	<% if @event.histories.any? %>
		<h3><%= pluralize(@event.histories.count, "time") %></h3>
		<ol class="events">
			<%= render histories %>
		</ol>
		<div class="d-flex flex-column align-items-center">
			<%= will_paginate histories, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
		</div>
	<% end %>
</div>
