<%= form_with scope: :event, url: user_events_path(user.id), method: :get do |f| %>
  <div class="form-group">
    <div class="input-group mb-3">
      <%= f.text_field :term, class: "form-control", "aria-describedby": "button-addon2" %>
      <div class="input-group-append">
        <%= f.button name: nil, class: "btn btn-info", id: "button-addon2" do %>
          <span class="fa fa-search"> Search</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
