<%= form_with scope: :event, url: user_events_path(user.id), method: :get, class: "form-group" do |f| %>
  <div class="row">
    <div class="col-10">
      <%= f.text_field :term, class: "form-control" %>
    </div>
    <div class="col-2">
      <%= f.button name: nil, class: "btn btn-info" do %>
        <i class="fa fa-search"></i> Search
      <% end %>
    </div>
  </div>
<% end %>
