<li id="event-<%= event.id %>">
  <%= link_to gravatar_for(event.user, size: 50), event.user %>
  <span class="content"><%= event.title %></span>
  <span class="timestamp">
    Occurred <%= time_ago_in_words(event.created_at) %> ago.
  </span>
</li>
