<li id="event-<%= event.id %>">
  <span class="content"><%= link_to event.title, show_event_path(event.user.id, event.id) %></span>
  <span class="timestamp">
    <%= pluralize((Date.today - (event.occurred_dates.first.created_at.to_date)).numerator, "day") %> ago.
    <% if current_user?(event.user) %>
      <%= link_to event, method: :delete , data: { confirm: "You sure?" } do %>
        <i class="glyphicon glyphicon-trash"></i>
        <span>delete</span>
      <% end %>
    <% end %>
  </span>
</li>
